@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


/* #bookForm{
    display: none;
} */

.formdiv {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    padding-top: 1rem;
    padding-bottom: 2rem;

}

#formdiv > input {
    width: 200px;
}

#books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#books > div{
    border: 1px solid blue;
    text-align: center;
    border-radius: 7px;
    width: 200px;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto 2rem auto;


}

#books > div > button{
    border-radius: 8px;
    width: 8em;
    height: 40px;
    margin: 0.4em;
}

.nav{
    display: flex;
    background-color: aquamarine;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.nav h2{
    margin: 2rem;
}

.addbook{
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.addbook button {
    border-radius: 7px;
    height: 44px;
    width: 100px;

}

